.contact-phone {
  width: 100%;
  margin: 25px 0;
  overflow: hidden;
}

.contact-phone ul {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}

.contact-phone ul li {
  width: 49%;
  margin-left: 0 !important;
  float: left;
  margin-right: 2%;
  background-color: #288AD6;
  color: #fff;
  padding: 8px;
  text-align: center;
  border-radius: 3px;
  display: inline-block;
}

.contact-phone ul li a {
  color: #fff;
  display: block;
  width: 100%;
  text-decoration: none;
}

.contact-phone ul li a {
  color: #fff;
  display: block;
  width: 100%;
  text-decoration: none;
}

.contact-phone ul li p:last-of-type {
  font-size: 12px;
  margin: 0;
}

.contact-phone ul li:last-of-type {
  margin-right: 0;
  background: rgba(58, 85, 159, 1);
}

.contact-detail {
  float: left;
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
  clear: both;
}

.contact-detail ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  float: left;
}

.contact-detail ul li {
  line-height: 1.8em;
  font-size: 16px;
  margin-bottom: 0;
  margin-left: 0;
}

.contact-detail ul li span {
  font-size: 18px;
  padding-right: 8px;
  color: #f69419;
}

.contact-detail ul li:nth-child(1) span {
  color: #0cca4b;
  font-size: 20px;
  padding-right: 10px;
}

button.single_add_to_cart_button.button.alt {
  border-radius: 5px;
  width: calc(100% - 110px);
}

.product-section-title-wrapper {
  text-align: center;
}

.product-section-title :not(section.shadow-box.inside-title h3) {
  transition: ease all .3s;
  background-color: #fcf2f2;
  border: 1px solid #f69419;
  color: #f69419;
  display: inline-block;
  width: auto;
  padding: 5px 15px;
  border-radius: 8px;
}

.product-description {
  padding-bottom: 25px;
  position: relative;
}

.section_noi_dung_khuyen_mai {
  margin-bottom: 15px;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  overflow-x: hidden;
}

.noi_dung_khuyen_mai_title {
  background-color: #d1d5db;
  font-size: 15px;
  padding: 10px;
  width: 100%;
  font-weight: 600;
  line-height: 1.2;
}

.hidden-cat-text span.hdevvn-show-cats {
  display: none !important
}

.section_noi_dung_khuyen_mai .tinymce {
  padding: 10px 5px;
  background: #fff !important;
  color: #000;
  margin: 0 !important;
}

.section_noi_dung_khuyen_mai .tinymce ul li:before,
.section_noi_dung_khuyen_mai .tinymce ol li:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f058";
  position: absolute;
  top: 3px;
  left: 8px;
  font-size: 16px;
  color: #7ad03a;
}

.section_noi_dung_khuyen_mai .tinymce ul li,
.section_noi_dung_khuyen_mai .tinymce ol li {
  padding-left: 27px;
  position: relative;
  margin-left: 0;
  margin-bottom: 3px;
  font-size: 14px;
}

.section_noi_dung_khuyen_mai .tinymce ul,
.section_noi_dung_khuyen_mai .tinymce ol {
  list-style: none !important;
  padding: 0;
  margin-bottom: 0;
}

.single-product div#tab-description {
  overflow: hidden;
  position: relative;
  padding-bottom: 25px;
}

.single-product .tab-panels div#tab-description.panel:not(.active) {
  height: 0 !important;
}

.product-section {
  border-top: none !important;
}

.product-price-container span.amount {
  color: #d70018;
  font-size: 28px;
}

.product-price-container del span.amount {
  color: #222;
  font-size: 18px;
}